*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
app/release/output.json
app/release/app-release.apk
amplify
.amplifyrc
app/release/app.aab
.gitignore
app/libs/
app/src/main/res/assets/
build/kotlin/
